@media (max-width: 1440px) {
    .inner-banner::after {
        border-radius: 380px 0 0px 0px;
    }

    .inner-banner .heading-4 {
        font-size: 34px;
    }

    .inner-banner .para-1 {
        font-size: 16px;
    }

}

/* max-width: 1199px */

@media (max-width: 1199px) {}

/* max-width: 1199px */


/* max-width: 991px */
@media (max-width: 991px) {}

/* max-width: 767px */

/* max-width: 575px */
@media (max-width: 575px) {}

/* max-width: 575px */